html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 400px;
}
body {
    background-color: lightblue;
}
h3 {
    font-size: large;
    font-weight: 500;
    color: red;
    text-align: center;
}
.game {
    background: white;
    width: 90%;
    max-width: 1700px;
    margin: 50px;
    border-radius: 10px;
}
.game h1 {
    border: 2px dashed lightseagreen;
    background-color: seagreen;
}
.Trivia {
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}     
.game h2 {
    font-size: 20px;
}

.btn{
    background-color: blue;
    border: solid gray;
    color: silver;
    width: 40%;
    min-width: 100px;
    padding:10px;
    margin: 20px;  
}
.btn:hover{
    background-color: black;
}
#next-btn{
    background-color: limegreen;
    color: blue;
    width: 10%;
    padding: 5px;
    margin: 5px auto 0;
    border: solid gray;
    display: block;
}
#next-btn:hover{
    background-color: black;
}
.correct{
    background: green;
}
.incorrect{
    background: red;
}
#Timer {
    font-size: 50px;
    text-align: center;
}